     
    body {
    
      color:rgb(250, 214, 147);
     background:rgb(82, 82, 82);
     margin: 0px

    }
    body {
     display:block;
      margin: 8px
    }
 header {
    
    padding: 20px;
    font-size: 32px;
   
   color: rgb(250, 214, 147);
    
 }