     
    body {
    
      color:rgb(175, 148, 97);
     background:rgb(26, 26, 26);
     margin: 0px
    }
 header {
   
 border-bottom: solid 2px rgb(175, 148, 97);
    padding: 20px;
    font-size: 32px;
    color: rgb(175, 148, 97);
}

section {
  background: rgb(250, 214, 147);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%
}
